* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(86, 98, 110);
}

header {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-image: url("/apple-pie/images/apple-pie.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 90%;
    margin: 5%;
}

section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 10%;
}

img {
    height: 50px;
    align-self: center;
    margin-top: 30px;
}

#cooking-info {
    height: 65px;
}

hr {
    width: 80%;
    margin: 5% 10%;
}

h1 {
    color: white;
    font-weight: 200;
    font-size: 70px;
}

h2 {
    padding: 0 0 20px 0;
    font-weight: 200;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

#section-3 {
    padding: 0 0 50px 0;
}